@tailwind base;
@tailwind components;
@tailwind utilities;

/* .filter-con button {
    margin-right: 5px;
    color: rgb(156 163 175);
    font-size: 18px;
  }
  
  button.active {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 4px;
    color: white;
  
  } */